$btn-shadow: 0px 2px 5px 1px rgba(34, 60, 80, 0.2);
$btn-shadow-hover: 0px 5px 15px 5px rgba(34, 60, 80, 0.2), 0px 4px 7px 1px rgba(34, 60, 80, 0.2);

$main-color: #f1f3f4;
$lines-color: #dadce0;
$white-color: #fff;
$gray-color: #ccc;
$white-grey-color: #eee;
$red-color: #f00;
$orange-color: #ffa500;
$blue-color: #6495ed;
